 <%- include('./partials/header.ejs') %>

<h1 class="title text-center">About Me</h1>

<br />
<center>
    <img src="/images/Abhi-modified.png" alt="" style="width:200px;height:200px;">
</center>
<br />

<p>
  <%= aboutcont %>
</p>


 <%- include('./partials/footer.ejs') %>
